html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    padding: 12px; 
    display: flex;
    flex-direction: column;

    background-color: var(--uxp-host-background-color);
    color: var(--uxp-host-text-color);
    border-color: var(--uxp-host-border-color);
    font-size: var(--uxp-host-font-size);

}

#theme {
    display: none;
}

#primary-theme {
    background-color: var(--uxp-host-background-color);
    color: var(--uxp-host-text-color);
    border-color: var(--uxp-host-border-color);
}

#primary-theme a {
    color: var(--uxp-host-link-text-color);
}

#secondary-theme {
    background-color: var(--uxp-host-widget-hover-border-color);
    color: var(--uxp-host-text-color-secondary);
}

sp-heading {
    margin-top: 0px;
    margin-bottom: 8px;
}

.curve-container {
    position: relative;
    border: 1px solid var(--uxp-host-border-color);
    cursor: crosshair;
    flex-grow: 1;
    width: 100%;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--uxp-host-background-color);
}

.instructions {
    color: var(--uxp-host-text-color-secondary);
    flex-shrink: 0;
    padding: 4px;
}

sp-button:not(:last-child) {
    margin-right: 8px;
}

.presets {
    flex-shrink: 0;
    margin-bottom: 12px;
    width: 100%;
}

footer {
    flex-shrink: 0;
}