html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    padding: 12px; 
    color: #FFF; 
    background-color: #333;
    display: flex;
    flex-direction: column;
}

.curve-container {
    position: relative;
    background: #222;
    border: 1px solid #555;
    cursor: crosshair;
    flex-grow: 1;
    width: 100%;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.instructions {
    flex-shrink: 0;
    font-size: 11px;
    color: #aaa;
    margin-bottom: 10px;
}

sp-button:not(:last-child) {
    margin-right: 8px;
}

.presets {
    flex-shrink: 0;
    margin-bottom: 12px;
    width: 100%;
}

footer {
    flex-shrink: 0;
}